/* ――――――――― Header ――――――――― */
/* Descripción: Estilos para la cabecera de la página */ 

.Header{
    width: 100%; 
    padding: 1.25rem 4rem; 
    color: var(--color-grey);
    background-color: var(--color-white);
    position: fixed;
    
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);

    animation: slideDown 2s ease 1;
    z-index: 1;
    
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Header-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; 
    align-items: center;
    width: 60%;

    gap: 5rem; 
    
}

.Header-svg{
    width: 6rem;
}

.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    gap: 4rem;
}

.Header-selected{
    font-weight: 400;
    color: #025B7B;
}

.Header-li{
    white-space: nowrap;
    font-weight: 300;
}

.Header-li:hover{
    font-weight: 400;
    color: var(--color-primary);
}

.Header-li::after{
    content: "";
    height: 2px;
    display: block;

    background-color: var(--color-secondary);
    transform-origin: left;
    transform: scaleX(0);

    transition: all 1s ease;    
}

.Header-li:not(:last-child):hover::after{
    transform: scaleX(1);
}

.Header-button{
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white); 
    font-weight: 600;
}

.Header-button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: all 1s ease;
    font-weight: 500;
}

.Header-button:active{
    white-space: nowrap;
    background-color: aqua ;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white);
}

.Header-burguer{
    display: none;
}
/* ――――――――― Header ――――――――― */




/* ――――――――― Contenido principal ――――――――― */
/* Descripción: Estilos para el contenido principal de la página */ 


.cursor-text{
    cursor: text;
}

.Main-cursor.hide{
    opacity: 0;
    pointer-events: none;
}

.Main{
    background-color: #ffffff;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}


/* ――――――――― Presentación ――――――――― */
/* Descripción: Estilos para la breve presentación */ 

.Main-presentation{
    padding: 6.25rem 2rem;
    width: 40%;
    margin-left: 2rem;
}

.Main-h3{
    font-size: var(--h3-size);
    line-height: 1.8rem;
}

.Main-p{
    font-size: var(--p-size);
    margin-top: 2rem;
}
/* ――――――――― Presentación ――――――――― */






/* ――――――――― Formulario ――――――――― */
/* Descripción: Estilos para el formulario */ 

.Main-form{
    /* max-width: 500px; */
    /* margin: auto; */
    width: 60%;
    padding: 12rem 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
}

.Form-top{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  
    /* grid-auto-rows:20vh;  */
    gap: .625rem;
}

.Form-field{
    width: 100%;
}

.Form-input{
    height: 5vh;
    border-bottom: 1px solid var(--color-secondary);
    color: #141c3a;
    padding: .625rem;
    transition: 0.3s;
}

.Form-input:focus{
    border-color: var(--color-primary);
    outline: none; 
}

.Form-input:focus::placeholder{
    font-weight: 500;
}

.Form-error{
    border-color: red;
}

textarea{
    border-bottom: 1px solid var(--color-secondary);
    padding: .625rem;
}

textarea:focus{
    border-color: var(--color-primary);
    outline: none; 
}

textarea:focus::placeholder{
    font-weight: 500;
}
    
.Form-button{
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white); 
    font-weight: 600;
    width: auto;
}

.Form-button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: all 1s ease;
}

.Form-button:active{
    white-space: nowrap;
    background-color: aqua ;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white);
}

/* ――――――――― Formulario ――――――――― */







/* ――――――――― Pop up / Lightbox ――――――――― */
/* Descripción: Estilos para el pop up que aparece cuando hacemos click al rellenar el formulario */ 

.Lightbox{
    position: fixed;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
    backdrop-filter: blur(4rem);
    -webkit-backdrop-filter: blur(4rem);
    background-color: rgba(255,255,255,.2);

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    gap:2rem;

    opacity: 0;
    pointer-events: none;
}

.Lightbox.isActive{
    opacity: 1;
    pointer-events: auto;
    transition: all .5s ease; 
}

.Lightbox-close{
    width: 4rem;
    background-color: var(--color-white);

    padding: .4rem; 
    border-radius: 1rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: all .5s ease;

    z-index: 1;
}

.Lightbox-close:hover{
    background-color: var(--color-secondary);
    box-shadow: 0 0 1rem 0 rgba(255, 255, 255, .2);
}

.Lightbox-close:hover .Lightbox-svg{
    fill: var(--color-white);
}

.Lightbox-close:active{
    transform: scale(5);
    opacity: 0;
}

.Lightbox-wrapper{
    width: 60%;
    max-width: 75rem;
    /* height: 80vh; */
    padding: 3.125rem;
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    border: 1px solid var(--color-white);

    z-index:1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
  
.Lightbox-h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}
  
.Lightbox-p {
    font-size: var(--p-size);
    text-align: center;
    margin-bottom: 40px;
}
  
.Lightbox-svg {
    fill: #84E6BC;
    width: 2rem;
    height: 2rem;
}


.Lightbox-bg{
    position: absolute;
    top:0;
    left:0;

    width: 100%;
    height: 100%;
}
/* ――――――――― Pop up / Lightbox ――――――――― */


/* ――――――――― Footer ――――――――― */
/* Descripción: Estilos para el footer de la página */ 

.Footer {
    background-color: #025B7B;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}

.Footer-wrapper {
    width: 80%;
    margin: 4.25rem auto 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12.5vh;
}

.Footer-left-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    color: #fff;
    gap: 1.25rem;
}

.Footer-logo{
    width: 30vh;
}

.Footer-text{
    opacity: 66%;
    width: 80%;
}


.Footer-right-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    gap: 6.25rem;
    margin-bottom: 2rem;
}

.Footer-h3{
    font-weight: 500;
}


.Footer-ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
}

.Footer-li{
    font-weight: 300;
    opacity: 66%;
}

.Footer-line {
    width: 100%;
    height: 2px;
    background-color: #7EC1D3;
}

.Footer-bottom-items{
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 3rem 0;
}

.Footer-copyright{
    font-size: 12px;
    font-weight: 300;
    opacity: 66%;
    color: #fff;
}

.Footer-social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    gap: 1.25rem;
}


/* ――――――――― Footer ――――――――― */





/* ――――――――― Media Querys - 600px――――――――― */
/* Descripción: Estilos para mobile */

@media  (max-width:600px) {
    .Header{
        padding: 1.25rem 2rem;
    }

    .Header-nav{
        display: none;
    }

    .Main-cursor{ 
        display: none;
    }

    .Header-burguer{
        display: block; 
    }

    .Header-a{
        display: none;
    }

    .Meet-p{
        width: 100%; 
    }

    .Main-cursor{
        display: none;
    }

    .Banner-wrapper{
        top: 20%;
    }

    video{
        border-radius: 0rem 0rem 9rem 0rem;
    }
    
    .Burguer-svg{
        display: block;
        width: 3rem;
        height: 3rem;
    }

    .Main{
        background-color: #ffffff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin: auto;
    }

    .Main-presentation{
        padding:8rem 2rem 0 2rem;
        width: 90%;
    }

    .Main-form{
        width: 80%;
        padding: 4rem 2rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 2.5rem;
    }

    .Footer-wrapper {
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .Footer-right-group {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        color: #fff;
        width: 100%;
    }

    .Footer-ul{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        
    }

    .Footer-bottom-items{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        gap: 1.25rem;
        
    }
}

/* ――――――――― Media Querys - 600px――――――――― */

@media (max-width:800px) {

    .Main{
        background-color: #ffffff;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        margin: auto;
    }

    .Main-presentation{
        padding:8rem 2rem 0 2rem;
        width: 90%;
    }

    .Main-form{
        width: 80%;
        padding: 4rem 2rem;
        display: flex;
        flex-flow: column nowrap;
        gap: 2.5rem;
    }
    
}


/* ――――――――― Media Querys - 1200px――――――――― */
/* Descripción: Estilos para tablet */

@media  (max-width:1200px) {
    .Header{
        padding: 1.25rem 2rem;
    }

    .Header-nav{
        display: none;
    }

    .Main-cursor{ 
        display: none;
    }

    .Header-burguer{
        display: block; 
    }

    .Header-a{
        display: none;
    }

    .Meet-p{
        width: 100%; 
    }

    .Main-cursor{
        display: none;
    }

    .Banner-wrapper{
        top: 20%;
    }

    video{
        border-radius: 0rem 0rem 9rem 0rem;
    }
    
    .Burguer-svg{
        display: block;
        width: 3rem;
        height: 3rem;
    }

    .Mouse-wrapper{
        display: none;
    }

    .Footer-wrapper {
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .Footer-right-group {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        color: #fff;
        width: 100%;
    }

    .Footer-ul{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        
    }

    .Footer-bottom-items{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        gap: 1.25rem;
        
    }

}

/* ――――――――― Media Querys - 1200px――――――――― */

