:root {
  font-size: 15px;
}

.Header {
  // background-color: rgba($color: #000000, $alpha: 0) !important;
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(25px) !important;
  -webkit-backdrop-filter: blur(25px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;

  a {
    color: var(--color-primary);
    font-weight: 500;
    font-size: 1rem;
  }

  // box-shadow: none !important;
}

#main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  height: max-content;
  width: 100vw;
  background-image: url(../assets/coach_background.png);
  background-size: cover;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  gap: 2rem;
}

.dashboards-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.transparent-content-box {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  border-radius: 2rem;
}

.box-label {
  margin-bottom: 1rem;
  font-weight: 500;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

//#region total clubs and coaches 

.total-clubs {
  width: 12rem;
  padding: 2rem;
  height: max-content;
  transition: 0.2s;
  &:hover {
    background-color: white;
  }
}

.total-number-clubs {
  color: #025B7B;
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
}

.total-coaches {
  width: 12rem;
  padding: 2rem;
  height: max-content;
  transition: 0.4s;
  &:hover {
    background-color: white;
  }
}

.total-number-coaches {
  color: #025B7B;
  font-size: 24px;
  font-weight: 500;
  line-height: 2rem;
}

//#endregion

//#region donut 

.donut-general-container {
  padding: 2rem;
  height: max-content;
}

.donut-label {
  font-weight: 500;
  margin-bottom: 2cqh;
}

.donut-container {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.donut-data-container {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.donut-data-element {
  display: flex;
  justify-content: space-between;
  width: 14rem;
}

.donut-data-element-label {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.dot {
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 1rem;
}

//#endregion

//#region recommendators 

.recommendators-container {
  height: max-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.6rem;
}

.recommendator-element {
  display: flex;
  justify-content: space-between;
  width: 14rem;
  gap: 1rem;

  .recommendator-name {
    width: 6rem;
  }

  .recommendator-value {
    color: var(--color-primary);
  }

  .recommendator-bar-container {
    display: flex;
    align-items: center;
    width: 7rem;

    .recommendator-bar-start {
      height: 12px;
      width: 2px;
      background-color: rgba(0, 0, 0, 0.1);
    }

    .recommendator-bar {
      height: 6px;
      background-color: rgba(0, 0, 0, 0.1);
      border-radius: 0 1rem 1rem 0;
      transition: 1s;
    }
  }

}

//#endregion

//#region last-registered 
.last-registered {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  height: max-content;
  gap: 1rem;
}

.last-registered-row {
  display: flex;
  width: 24rem;
  justify-content: space-between;

  .nameandicon {
    display: flex;
    gap: 1rem;
    color: var(--color-primary);
  }

  .date {
    color: var(--color-primary);
  }
}

.go-to-table {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
  margin-top: 1rem;

  &:hover {
    cursor: pointer;
    opacity: 0.8;
  }
}

// #endregion

//#region total-users 

.total-users {
  width: 44rem;
  height: max-content;
  padding: 2rem;
}

//#endregion