/* ――――――――― Header ――――――――― */
/* Descripción: Estilos para la cabecera de la página */ 

.Header{
    width: 100%; 
    padding: 1.25rem 4rem; 
    color: var(--color-grey);
    background-color: var(--color-white);
    position: fixed;
    
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);

    animation: slideDown 2s ease 1;
    z-index: 1;
    
    margin: auto;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.Header-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end; 
    align-items: center;
    width: 60%;

    gap: 5rem; 
    
}

.Header-svg{
    width: 6rem;
}

.Header-ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    gap: 4rem;
}

.Header-li{
    white-space: nowrap;
    font-weight: 300;
}

.Header-li:hover{
    font-weight: 400;
    color: var(--color-primary);
}

.Header-li::after{
    content: "";
    height: 2px;
    display: block;

    background-color: var(--color-secondary);
    transform-origin: left;
    transform: scaleX(0);

    transition: all 1s ease;    
}

.Header-li:not(:last-child):hover::after{
    transform: scaleX(1);
}

.Header-button{
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 1rem 3rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white); 
    font-weight: 600;
}

.Header-button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: all 1s ease;
}

.Header-button:active{
    white-space: nowrap;
    background-color: aqua ;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white);
}

.Header-burguer{
    display: none;
}
/* ――――――――― Header ――――――――― */




/* ――――――――― Contenido principal ――――――――― */
/* Descripción: Estilos para el contenido principal de la página */ 

.Main{
    width: 100%;
}

.Main-cursor{ 
    position: fixed;  
    width: 30px;
    height: 30px;
    top: -15px;
    left: -15px; 
    background-color: var(--color-secondary);
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
} 

.cursor-text{
    cursor: text;
}

.Main-cursor.hide{
    opacity: 0;
    pointer-events: none;
}

.Main{
    background-color: #ffffff;
}

.Video-wrapper{
    position: relative;
    height:100vh;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0rem 0rem 18.1875rem 0rem;
}

.Banner-wrapper{
    position: absolute;
    top: 40%;
    left: 5%;

    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: flex-start;
    width: 90%;
   
    color: white;
}

.Banner-h2{
    font-size: var( --h2-size);
    font-weight: 500;
    width: 70%;
}

.Banner-p{
    font-size: var( --p-size);
    line-height: 1.875rem;
}

.Banner-button{
    white-space: nowrap;
    background-color: var(--color-white);
    padding: 1rem 3rem;
    border-radius: 1rem;
    display: inline-block;
    width: auto;
    font-weight: 600;
    font-size: var(--h5-size);
                
    color: var(--color-primary);
    cursor: pointer;
} 


.Banner-button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: all 1s ease;
}

.Banner-button:active{
    white-space: nowrap;
    background-color: aqua ;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
                
    color: var(--color-white);
}

/* ――――――――― Sección Intro ――――――――― */

.Intro{
    margin: auto;
    width: 90%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.Intro-title{
    text-align: center;
    font-size: var(--h3-size);
    font-weight: 500;
    padding: 2.5rem;
    color: var(--color-primary);
    width: 80%;
}

.Intro-h3{
    text-align: center;
    font-size: var(--h3-size);
    font-weight: 500;
}

.Intro-wrapper{
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center; 
}

.Intro-article{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    width: 50%;
    padding: 2.5rem;
}

.Intro-img{
    width: 50%;
}

.Intro-p{
    font-size: var(--p-size);
    text-align: center;
}


.Intro-button{
    white-space: nowrap;
    background-color: var(--color-primary);
    padding: 1rem 3rem;
    border-radius: 1rem;
                
    color: var(--color-white); 
    font-weight: 600;
    width: auto;
}

.Intro-button:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
    transition: all 1s ease;
}

.Intro-button:active{
    white-space: nowrap;
    background-color: aqua ;
    padding: 1rem 2rem;
    border-radius: 1rem;
                
    color: var(--color-white);
}


/* ――――――――― Sección Talento ――――――――― */
/* Descripción: Estilos para la sección de talento y oportunidad, donde se describe el mision y vision statement */ 

.Talento{
    padding: 2.5rem;
    width: 90%;
    margin: auto;
}

.Main-section{
    margin-top: 6.25rem;
}

.Talento-h3{
    color: var(--color-primary);
    font-size: var(--h3-size);
    text-align: center;
    font-weight: 500;
}

.Talento-p{
    margin:2rem auto;
    text-align: center;
    width: 80%;
    font-size: var(--p-size);
}

.Talento-articles{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 8rem;
    width: 60vw;
    margin: 3rem auto;
}

.Talento-article{
    box-shadow: 6px 6px 12px lightgrey,
                -6px -6px 50px white;
    border-radius: 3.75rem;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.Talento-article:hover{
    background-color: var(--color-primary);
    color: var(--color-white);
    transition: all ease 1s;
}

.Talento-article:hover .Talento-article-h4{
    color: var(--color-secondary);
    transition: all ease 1s;
}


.Talento-article:hover .Talento-svg{
    fill: var(--color-secondary);
    transition: all ease 1s;
 }

.Talento-article-h4{
    text-align: center;
    margin-top: 3rem;
    font-size: var(--h4-size);
    color: var(--color-primary);
    font-weight: 600;
}

.Talento-article-p{
    font-size: var(--p-size);
}

.Talento-article-svg{
    margin: 0 auto 2rem;
    padding: 20px;
    object-fit: contain;
}

.Talento-svg{
    height: 10vh;
}


/* ――――――――― Sección Talento ――――――――― */







/* Mouse icon */

.Mouse-wrapper{
    position: absolute;
    top: 90%;
    left: 50%;
}

.Mouse-icon {
    display: block;
    position: absolute;
    height: 3em;
    width: 2em;
    border: .25em solid #ffffff;
    border-radius: 2em;
}

@keyframes scroll_2 {
    0%   { transform: translateY(0); opacity: 1; }
    25%  { opacity: 1; }
    75%  { transform: translateY(.75em); opacity: 0; }
    100% { transform: translateY(0); opacity: 0; }
}

.Mouse-icon-dot {
    display: block;
    position: absolute;
    left: 50%;
    background: #ffffff;
    height: .5em;
    width: .5em;
    top: .6em;
    margin-left: -.25em;
    border-radius: 50%;
    transform-origin: top center;
    backface-visibility: hidden;
    animation: scroll_2 2s ease-out infinite;
}

.Mouse-rectangle {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}






/* ――――――――― Footer ――――――――― */
/* Descripción: Estilos para el footer de la página */ 

.Footer {
    background-color: #025B7B;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: space-between;
    width: 100%;
}

.Footer-wrapper {
    width: 80%;
    margin: 4.25rem auto 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12.5vh;
}

.Footer-left-group {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    color: #fff;
    gap: 1.25rem;
}

.Footer-logo{
    width: 30vh;
}

.Footer-text{
    opacity: 66%;
    width: 80%;
}


.Footer-right-group {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    gap: 6.25rem;
    margin-bottom: 2rem;
}

.Footer-h3{
    font-weight: 500;
}


.Footer-ul{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1.25rem;
}

.Footer-li{
    font-weight: 300;
    opacity: 66%;
}

.Footer-line {
    width: 100%;
    height: 2px;
    background-color: #7EC1D3;
}

.Footer-bottom-items{
    width: 80%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    padding: 3rem 0;
}

.Footer-copyright{
    font-size: 12px;
    font-weight: 300;
    opacity: 66%;
    color: #fff;
}

.Footer-social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    color: #fff;
    gap: 1.25rem;
}


/* ――――――――― Footer ――――――――― */






/* ――――――――― Media Querys - 1200px――――――――― */
/* Descripción: Estilos para tablet */

@media  (max-width:1200px) {
    .Header{
        padding: 1.25rem 2rem;
    }

    .Header-nav{
        display: none;
    }

    .Main-cursor{ 
        display: none;
    }

    .Header-burguer{
        display: block; 
    }

    .Header-a{
        display: none;
    }

    .Meet-p{
        width: 100%; 
    }

    .Main-cursor{
        display: none;
    }

    video{
        border-radius: 0rem 0rem 9rem 0rem;
    }
    
    
    .Burguer-svg{
        display: block;
        width: 2.6rem;
        height: 2.6rem;
    }

    .Header-nav{
        width: 100%;
        height:0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-nav.isActive{
        height: 60vh;
        pointer-events: auto;
    }

    .Header-ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Mouse-wrapper{
        display: none;
    }


    .Talento{
        margin: auto;
        padding: 2.5rem;
        width: 100%;
    }

    .Talento-articles{
        width: 80vw;
    }

    .Footer-wrapper {
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .Footer-right-group {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        color: #fff;
        width: 100%;
    }

    .Footer-ul{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        
    }

    .Footer-bottom-items{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        gap: 1.25rem;
        
    }
}

/* ――――――――― Media Querys - 1200px――――――――― */




/* ――――――――― Media Querys - 600px――――――――― */
/* Descripción: Estilos para mobile */

@media  (max-width:600px) {
    .Header{
        padding: 1.25rem 2rem;
    }

    .Header-nav{
        display: none;
    }

    .Main-cursor{ 
        display: none;
    }

    .Header-burguer{
        display: block; 
    }

    .Header-a{
        display: none;
    }

    .Meet-p{
        width: 100%; 
    }

    .Main-cursor{
        display: none;
    }

    .Banner-h2{
        font-size: var( --h3-size);
        font-weight: 500;
        width: 90%;
    }

    .Banner-wrapper{
        top: 20%;
    }

    video{
        border-radius: 0rem 0rem 9rem 0rem;
    }
    
    .Burguer-svg{
        display: block;
        width: 2.6rem;
        height: 2.6rem;
    }

    .Header-nav{
        width: 100%;
        height:0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;

        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .Header-nav.isActive{
        height: 60vh;
        pointer-events: auto;
    }

    .Header-ul{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
    }

    .Mouse-wrapper{
        display: none;
    }


    .Intro-wrapper{
        margin: auto;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center; 
    }

    .Intro-title{
        text-align: center;
        font-size: var(--h3-size);
        width: 100%;
    }

    .Intro-img, .Intro-article{
        width: 100%;
        margin-top: 2rem;
    }

    .Intro-article {
        order: 2;
    }
    .Intro-img {
        order: 1; 
    }

    .Talento{
        margin: auto;
        padding: 2.5rem;
        width: 100%;
    }

    .Talento-articles{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 80vw;
        gap: 3rem;
    }

    .Footer-wrapper {
        width: 80%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
    }

    .Footer-right-group {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        color: #fff;
        width: 100%;
    }

    .Footer-ul{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
        
    }

    .Footer-bottom-items{
        display: flex;
        flex-direction: column;
        align-items: space-between;
        justify-content: center;
        gap: 1.25rem;
        
    }


}

/* ――――――――― Media Querys - 600px――――――――― */

