@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

body {
  overflow-y: hidden;
  overflow-x: hidden;
}

#title {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  margin-top: 0rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--color-primary);
}

#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  transition: 1s;
  margin-top: 12rem;
}

.login-element {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1200px;
  height: 100vh;
  overflow-x: hidden;
  // border: 2px solid var(--color-primary);
}

.login-element-content {
  display: flex;
  gap: 2rem;
  // flex-direction: column;
  justify-content: center;
  // align-items: center;
  width: max-content;
  max-width: 100vw;
  // border: 2px solid var(--color-primary);
  border-radius: 2rem;
  padding-top: 1rem;
  // overflow-x: hidden;
  // overflow-y: hidden;
  &.finish {
    padding-bottom: 0.5rem;
  }
}

.login-element-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
}

.login-element-question-smaller {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #025b7b;
  padding-bottom: 0.4rem;
  // border-bottom: 2px solid var(--color-primary);
  width: max-content;
  max-width: 100%;
}

.login-element-textanswer {
  font-size: 1.2rem;
  // font-weight: 400;
  // color: var(--color-primary);
  margin-top: 1rem;
  &:focus {
    outline: none;
  }
  &::placeholder {
    color: var(--border-color);
  }
}

.input-text-style {
  border-width: 1px;
  border-style: solid;
  border-color: var(--border-color);
  display: grid;
  grid-template-columns: 4.5em 1fr;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  max-width: 100%;
  width: 21rem;
  z-index: 10;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
}

.login-element-next {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  padding: 0.5rem;
  border: 2px solid var(--color-primary);
  margin: 1.4rem auto 1rem auto;
  font-weight: 400;
  background-color: var(--color-primary);
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
  svg {
    pointer-events: none;
  }
}

.non-filled-fields-message {
  color: #025b7b;
}

#reset-password {
  color: #025b7b;
  text-align: left;
  max-width: 600px;
  font-size: 0.9rem;
  &:hover {
    cursor: pointer;
    color: var(--color-secondary);
    text-decoration: underline;
  }
}

#reset-password-message {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transform: translateY(-1rem);
  text-align: center;
  color: #996B71;
  width: max-content;
  font-size: 0.9rem;
  margin: 0.8rem auto 0 auto;
  padding: 0.4rem 1.2rem;
  border-radius: 0.6rem;
  background-color: #FFC0B7;

  &.displayed {
    visibility: visible;
    height: auto;
    opacity: 1;
    transform: translateY(0);
  transition: 1s;

  }
}

.login-toregister {
  // text-decoration: none; color: #025B7B; background-color: var(--dropdown-trigger-background-color); padding: 0.2rem 1.2rem; border-radius: 10rem;
  &:hover {
    color: var(--color-secondary);
  }
  text-decoration: underline;
  color: var(--color-primary);
}

@media (max-width: 600px) {
  :root {
    font-size: 14px;
  }
  #title {
    text-transform: uppercase;
    font-size: 5.2vw;
    letter-spacing: 2px;
    color: var(--color-primary);
  }
  .login-element-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    padding: 0;
  }
  .login-element-next {
    width: 3.5rem;
    height: 3.5rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
  }
}

// #region country and Phone Number

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

// ------------------------------------------------ //
// -------------------- BASICS -------------------- //
// ------------------------------------------------ //

// ----------------------------------------------------------- //
// -------------------- INPUT BASE STYLES -------------------- //
// ----------------------------------------------------------- //

// input[type="search"],
// input[type="tel"],
// input[type="text"] {
//   font-size: 1rem;
//   border: 0;
//   font-family: inherit;
//   outline: none;
//   color: inherit;
//   margin: 0;
//   padding: 0;
//   width: auto;
//   max-width: 100%;

//   @mixin placeholder() {
//     font-weight: 300;
//     color: #6b7280;
//   }

//   &::-webkit-input-placeholder {
//     @include placeholder;
//   }
//   &::-moz-placeholder {
//     @include placeholder;
//   }
//   &:-ms-input-placeholder {
//     @include placeholder;
//   }
//   &:-moz-placeholder {
//     @include placeholder;
//   }
// }

:root {
  --border-radius: 0.75em;
  --border-color: #c3c3c3;
  --border-color-active: #0047a5;
  --dropdown-border-color: #eaeaec;
  --dropdown-trigger-background-color: #f3f5f9;
  --dropdown-trigger-hover-background-color: #e6eaf1;
  --input-error-color: #ff0000;
  --input-label-color: #85898f;
  --input-prefix-color: #656b73;
  --input-phonenumber-color: #081627;
  --list-item-hover-background: #f3f5f9;
}

.textinput-container {
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: var(--dropdown-border-color);
  display: grid;
  grid-template-columns: 4.5em 1fr;
  border-radius: var(--border-radius);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-out;
  // max-width: 20em;
  // width: 100%;
  // width: max-content;
  max-width: 100%;
  width: 425px;
  z-index: 1;
  margin-bottom: 1rem;
  .textinput-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 2rem;
    background-color: var(--dropdown-trigger-background-color);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
}

// #endregion Phonenumber

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
