.Header {
  background-color: rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(25px) !important;
  -webkit-backdrop-filter: blur(25px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.Header a {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
}

:root {
  font-size: 15px;
}

#profile-general-options {
  position: absolute;
  top: 8rem;
  right: 4rem;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 1rem;
  z-index: 100;
}
#profile-general-options #general-options-options-clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
}
#profile-general-options #general-options-options-clickable:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}
#profile-general-options #general-options-options {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 1rem;
  font-weight: 500;
  margin: 1rem;
}
#profile-general-options #general-options-options:hover {
  cursor: pointer;
}
#profile-general-options #general-options-options #logout-button {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  padding: 0.7rem 1.4rem;
  color: var(--color-primary);
  font-size: 1rem;
  z-index: 10000;
  width: 10rem;
}
#profile-general-options #general-options-options #logout-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
#profile-general-options #general-options-options #actions-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  width: 10rem;
}
#profile-general-options #general-options-options #actions-wrapper div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.7rem 1.4rem;
}
#profile-general-options #general-options-options #actions-wrapper:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

#page-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#profile-container {
  padding-top: 8rem;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  background-image: url(../assets/coach_background.png);
  background-size: cover;
  margin: auto;
}

#profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 8rem;
  gap: 2rem;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 8rem;
}

#profile-left {
  display: flex;
  flex-direction: column;
}

#profile-center {
  position: relative;
  width: 360px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.transparent-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: 100vw;
  padding: 1.4rem 2rem 2rem 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

#image-container {
  position: relative;
}
#image-container:hover #profile-image-label {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.8);
}
#image-container.loading-state #profile-image-label {
  transition: background-color 0.00001s;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}
#image-container.image-set #profile-image-label {
  color: rgba(255, 255, 255, 0) !important;
}
#image-container.image-set:hover #profile-image-label {
  color: rgb(255, 255, 255) !important;
}

#profile-pic-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#profile-image-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transition: color 0.2s, background-color 0.2s, border 0.2s;
  border: 2px solid rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 100px;
}

.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgb(255, 255, 255);
}

.profile-information-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0;
  color: white;
  gap: 0.6rem;
  margin-bottom: 1rem;
}

.contact-row {
  display: flex;
  width: 100%;
  padding: 0.66rem 0;
  gap: 2rem;
  align-items: center;
}

.contact-icon {
  background-color: white;
  padding: 0.66rem;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}
.contact-icon path {
  width: 100%;
}

.profile-element-contact-data {
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 1px;
  color: var(--color-primary);
}

#profile-element-container-name {
  letter-spacing: 2px;
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: var(--color-primary);
  margin: 1rem;
}

.profile-label {
  max-width: 100%;
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: 500;
  opacity: 1;
}

.profile-data {
  position: relative;
  font-weight: 400;
  line-height: 150%;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  text-transform: lowercase;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  transition: 0.2s;
  color: var(--color-primary);
}

.data-content {
  display: none;
}

.editable-options {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  transition: 0.2s;
  height: -moz-max-content;
  height: max-content;
  gap: 0.4rem;
}

.editable-option {
  display: none;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 2rem;
  padding: 0.2rem 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--color-primary);
}
.editable-option:hover {
  background: rgba(255, 255, 255, 0.4);
}
.editable-option:active {
  background: rgba(255, 255, 255, 0.8);
}
.editable-option.selected {
  display: flex;
  background: rgb(255, 255, 255);
  color: #025b7b;
}
.editable-option.selected:hover {
  background: rgba(255, 255, 255, 0.9);
}
.editable-option.editable {
  display: flex;
}
.editable-option.editable:hover {
  cursor: pointer;
}

#joboffer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 0.6rem;
}
#joboffer-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  top: 0%;
  left: 0%;
  border-radius: 1rem;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  color: var(--color-primary);
}
#joboffer-container label:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

#joboffer {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

#joboffer-subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  margin: 0.8rem 0 0.4rem 0;
  width: 100%;
  font-size: 1rem;
}

#jobvideo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 0.6rem;
}
#jobvideo-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  top: 0%;
  left: 0%;
  border-radius: 1rem;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  color: var(--color-primary);
}
#jobvideo-container label:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

#jobvideo {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

#jobvideo-subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  margin: 0.8rem 0 0.4rem 0;
  width: 100%;
  font-size: 1rem;
}

.downloadLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: none;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 1rem;
  font-size: 1rem;
  gap: 1rem;
  color: var(--color-primary);
}
.downloadLink:hover {
  cursor: auto;
}

.downloadVideoLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: none;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 1rem;
  font-size: 1rem;
  gap: 1rem;
  color: var(--color-primary);
}
.downloadVideoLink:hover {
  cursor: auto;
}

.downloadLink-wording {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 0;
  border-radius: 1rem;
}
.downloadLink-wording.download-available {
  display: flex;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0);
}
.downloadLink-wording.download-available:hover {
  background-color: rgb(255, 255, 255);
}

.downloadVideoLink-wording {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 0;
  border-radius: 1rem;
}
.downloadVideoLink-wording.download-available {
  display: flex;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0);
}
.downloadVideoLink-wording.download-available:hover {
  background-color: rgb(255, 255, 255);
}

.erase-offer {
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  border-radius: 1rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.erase-offer:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
.erase-offer:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
.erase-offer.download-available {
  display: flex;
}

.erase-video {
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  border-radius: 1rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.erase-video:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
.erase-video:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
.erase-video.download-available {
  display: flex;
}

.inputtext {
  border-radius: 0.4rem;
  padding: 0.4rem 0.8rem;
  font-weight: 500;
  font-family: Montserrat;
  background: rgba(255, 255, 255, 0.9);
  color: var(--color-primary);
}
.inputtext:focus {
  outline: none;
}
.inputtext:hover {
  background: rgba(255, 255, 255, 0.95);
}
.inputtext:active {
  background: rgb(255, 255, 255);
}
.inputtext::-moz-placeholder {
  color: #000000;
  font-family: Montserrat;
}
.inputtext::placeholder {
  color: #000000;
  font-family: Montserrat;
}

.selectionanimation {
  animation-name: selection;
  animation-duration: 0.2s;
}

#experience-container {
  margin-top: 0.4rem;
}

.experience-label {
  font-size: 4.4rem;
  text-transform: uppercase;
  margin-top: 0rem;
  color: rgba(255, 255, 255, 0.1);
  font-weight: 300;
}
.experience-label#experience-label-1 {
  letter-spacing: 3rem;
  margin-left: 3rem;
}
.experience-label#experience-label-2 {
  letter-spacing: 0px;
}
.experience-label#experience-label-3 {
  letter-spacing: 2px;
}

.profile-exp {
  display: none;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-top: 1rem;
  color: var(--color-primary);
  opacity: 0.4;
  font-weight: 400;
  padding: 0 2rem;
  border-radius: 1rem;
}
.profile-exp.marked {
  display: flex;
  color: var(--color-primary);
  opacity: 1 !important;
}
.profile-exp.marked svg {
  opacity: 1;
}
.profile-exp.editable {
  transform: translateX(0rem);
}
.profile-exp svg {
  opacity: 0;
}

@media (max-width: 1400px) {
  #profile-wrapper {
    margin-left: 2rem;
  }
}
@media (max-width: 600px) {
  #profile-wrapper {
    margin-left: 0;
    gap: 0;
  }
  .mobile-fullwidth {
    width: 100vw !important;
  }
  #profile-general-options {
    top: 7rem;
    right: 0;
    border-radius: 1rem 0 0 1rem;
  }
  .transparent-content-box {
    margin-bottom: 0;
    border-radius: 0;
  }
}
@media (max-width: 400px) {
  #profile-wrapper {
    margin-left: 0;
  }
}
@keyframes selection {
  0% {
    background: rgba(255, 255, 255, 0.1);
  }
  30% {
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    background: rgba(255, 255, 255, 0.1);
  }
}/*# sourceMappingURL=profile-coach.css.map */