.Header {
  background-color: rgba(255, 255, 255, 0.5) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(25px) !important;
  -webkit-backdrop-filter: blur(25px);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.Header a {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
}

:root {
  font-size: 15px;
}

body {
  overflow-x: none;
}

#profile-general-options {
  position: fixed;
  top: 8rem;
  right: 4rem;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 1rem;
  z-index: 100;
}
#profile-general-options #general-options-options-clickable {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
}
#profile-general-options #general-options-options-clickable:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}
#profile-general-options #general-options-options {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  gap: 1rem;
  font-weight: 500;
  margin: 1rem;
}
#profile-general-options #general-options-options #close-general-options {
  position: absolute;
  padding: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 1rem;
  top: 0;
  right: 0;
  transform: translateX(40%) translateY(-40%);
}
#profile-general-options #general-options-options:hover {
  cursor: pointer;
}
#profile-general-options #general-options-options #logout-button {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  padding: 0.7rem 1.4rem;
  color: var(--color-primary);
  font-size: 1rem;
  z-index: 10000;
  width: 10rem;
}
#profile-general-options #general-options-options #logout-button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
#profile-general-options #general-options-options #actions-wrapper {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10rem;
  width: 10rem;
}
#profile-general-options #general-options-options #actions-wrapper div {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  color: var(--color-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 0.7rem 1.4rem;
}
#profile-general-options #general-options-options #actions-wrapper:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.7);
}

#page-loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--color-primary);
  font-size: 2rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#profile-container {
  padding-top: 8rem;
  min-height: 100vh;
  height: -moz-max-content;
  height: max-content;
  width: 100vw;
  background-image: url(../assets/coach_background_4.png);
  background-size: cover;
  margin: auto;
}

#profile-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 8rem;
  gap: 2rem;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 8rem;
}

#profile-left {
  display: flex;
  flex-direction: column;
  width: 360px;
}

#profile-center {
  position: relative;
  width: 400px;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

#profile-right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
}

.edit-mode-style {
  transition: background 1s;
}

.styled {
  background: rgba(255, 255, 255, 0.1) !important;
}

#profile-content-container-wrapper {
  display: flex;
  flex-direction: column;
}

.transparent-content-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  max-width: 100vw;
  padding: 1.4rem 2rem 2rem 2rem;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.transparent-content-box.admin-only {
  background: rgba(229, 244, 255, 0.5);
}

#profile-content-container-1 {
  justify-content: center;
  align-items: center;
}

.editable-options {
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
  transition: 0.2s;
  height: -moz-max-content;
  height: max-content;
  gap: 0.4rem;
}

.editable .editable-option.selected {
  display: flex;
  background: rgb(255, 255, 255);
  color: #025b7b;
  border: 1px solid var(--color-primary) !important;
}

.editable-option {
  display: none;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 2rem;
  padding: 0.2rem 0.8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: var(--color-primary);
  border: 1px solid rgba(0, 0, 0, 0);
}
.editable-option:hover {
  background: rgba(255, 255, 255, 0.4);
}
.editable-option:active {
  background: rgba(255, 255, 255, 0.8);
}
.editable-option.selected {
  display: flex;
  background: rgb(255, 255, 255);
  color: #025b7b;
}
.editable-option.selected:hover {
  background: rgba(255, 255, 255, 0.9);
}
.editable-option.editable {
  display: flex;
}
.editable-option.editable:hover {
  cursor: pointer;
}

.dropdown {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  pointer-events: none;
  margin: 0.6rem;
  height: 2.4rem;
}
.dropdown.editable {
  pointer-events: auto;
  cursor: pointer;
}
.dropdown.editable select {
  -webkit-appearance: auto;
  -moz-appearance: auto;
  text-indent: 1px;
  text-overflow: "";
  cursor: pointer;
}
.dropdown select {
  color: var(--color-primary);
  font-family: Montserrat;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  width: 100%;
}
.dropdown select:focus {
  outline: none;
}

.input-field {
  width: 100%;
}

.inputtext {
  border-radius: 1rem;
  padding: 0.4rem 0.8rem;
  font-weight: 400;
  font-family: Montserrat;
  background: rgba(255, 255, 255, 0.5);
  color: var(--color-primary);
  pointer-events: none;
  width: 400px;
  max-width: 100%;
}
.inputtext:focus {
  outline: 1px solid var(--color-primary);
}
.inputtext:hover {
  background: rgba(255, 255, 255, 0.5);
}
.inputtext:active {
  background: rgb(255, 255, 255);
}
.inputtext::-moz-placeholder {
  color: #b7b7b7;
  font-family: Montserrat;
}
.inputtext::placeholder {
  color: #b7b7b7;
  font-family: Montserrat;
}
.inputtext.editable {
  display: flex !important;
  pointer-events: all;
  cursor: auto !important;
}
.inputtext.undefined {
  background-color: rgba(0, 0, 0, 0.1);
}

#tellusmore {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
}

#adminnote {
  color: var(--color-primary);
  font-size: 1rem;
  font-weight: 500;
}

#joboffer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: white;
  margin-top: 0.6rem;
}
#joboffer-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  top: 0%;
  left: 0%;
  border-radius: 1rem;
  transition: 0.4s;
  background: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  color: var(--color-primary);
}
#joboffer-container label:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
}

#joboffer {
  color: var(--color-primary);
  font-weight: 500;
  font-size: 1rem;
  width: 100%;
  margin: 0.5rem 0;
}

#joboffer-subtitle {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 500;
  margin: 0.8rem 0 0.4rem 0;
  width: 100%;
  font-size: 1rem;
}

.downloadLink {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: none;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  border-radius: 1rem;
  font-size: 1rem;
  gap: 1rem;
  color: var(--color-primary);
}
.downloadLink:hover {
  cursor: auto;
}

.downloadLink-wording {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 0;
  border-radius: 1rem;
}
.downloadLink-wording.download-available {
  display: flex;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0);
}
.downloadLink-wording.download-available:hover {
  background-color: rgb(255, 255, 255);
}

.erase-offer {
  display: none;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  border-radius: 1rem;
  min-width: 3rem;
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}
.erase-offer:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.6);
}
.erase-offer:active {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.8);
}
.erase-offer.download-available {
  display: flex;
}

.editable-text {
  width: 100%;
  /* Ancho completo */
  margin-top: 1rem;
  font-size: 1rem !important;
  box-sizing: border-box;
  font-size: 14px;
  overflow: hidden;
  /* Evita la barra de desplazamiento */
  font-weight: 400;
  color: var(--color-primary);
  font-family: Montserrat;
  resize: none;
  min-height: 5rem;
  line-height: 150%;
  pointer-events: none;
}
.editable-text:focus {
  outline: none;
  background: rgb(255, 255, 255);
  padding: 1rem;
}
.editable-text::-moz-placeholder {
  color: var(--color-primary);
  opacity: 0.4;
}
.editable-text::placeholder {
  color: var(--color-primary);
  opacity: 0.4;
}
.editable-text.editable {
  background: rgba(255, 255, 255, 0.8);
  padding: 1rem;
  pointer-events: auto;
  cursor: auto;
  border-radius: 1rem;
}

#image-container {
  position: relative;
}
#image-container #profile-image-label {
  border: 4px solid rgb(255, 255, 255);
}
#image-container:hover #profile-image-label {
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.8);
}
#image-container.loading-state #profile-image-label {
  transition: background-color 0.00001s;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
}
#image-container.image-set #profile-image-label {
  color: rgba(255, 255, 255, 0) !important;
}
#image-container.image-set:hover #profile-image-label {
  color: rgb(255, 255, 255) !important;
}

#profile-pic-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#profile-image-label {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  transition: color 0.4s, background-color 0.4s, border 0.4s;
  border: 8px solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  color: white;
  font-weight: 500;
  text-align: center;
  border-radius: 100px;
}

.profile-image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: rgb(255, 255, 255);
}

.profile-information-element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0.4rem 0;
  color: white;
  gap: 0.2rem;
}

.contact-row {
  display: flex;
  width: 100%;
  padding: 0.66rem 0;
  gap: 2rem;
  align-items: center;
}

.contact-icon {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.66rem;
  width: 3rem;
  min-width: 3rem;
  height: 3rem;
  border-radius: 1rem;
}
.contact-icon path {
  width: 100%;
}

.profile-element-contact-data {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-primary);
  overflow: hidden;
}

#data-web {
  text-decoration: underline;
}

#profile-element-container-name {
  font-size: 1.2rem;
  text-align: center;
  font-weight: 500;
  color: var(--color-primary);
  margin: 1rem 0 0 0;
}

.profile-label {
  width: 100%;
  font-size: 1rem;
  color: var(--color-primary);
  font-weight: 500;
  margin: 0;
}

.profile-data {
  position: relative;
  font-weight: 400;
  line-height: 150%;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  text-transform: lowercase;
  padding: 0.2rem 0.6rem;
  border-radius: 1rem;
  transition: 0.2s;
  color: var(--color-primary);
}

.editable {
  display: flex;
}
.editable:hover {
  cursor: pointer;
}

.selectionanimation {
  animation-name: selection;
  animation-duration: 0.4s;
}

#tellusmore-container {
  width: 100%;
}

#adminnote-container {
  width: 100%;
}

#state-disclaimer-loaded {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-primary);
  font-weight: 500;
  width: -moz-max-content;
  width: max-content;
  height: 3rem;
  padding: 0 1.6rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

#state-disclaimer-loading {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-primary);
  font-weight: 500;
  width: -moz-max-content;
  width: max-content;
  height: 3rem;
  padding: 0 1.6rem;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@keyframes selection {
  0% {
    background: rgba(255, 255, 255, 0.1);
  }
  30% {
    background: rgba(255, 255, 255, 0.3);
  }
  100% {
    background: rgba(255, 255, 255, 0.1);
  }
}
@media (max-width: 1400px) {
  #profile-wrapper {
    margin-left: 2rem;
  }
}
@media (max-width: 600px) {
  #profile-wrapper {
    margin-left: 0;
    gap: 0;
  }
  .transparent-content-box {
    margin-bottom: 0;
    border-radius: 0;
    background: rgba(229, 244, 255, 0.5);
    box-shadow: none;
    -webkit-backdrop-filter: none;
            backdrop-filter: none;
  }
  .mobile-fullwidth {
    width: 100vw !important;
  }
  #profile-general-options {
    top: 7rem;
    right: 0;
    border-radius: 1rem 0 0 1rem;
  }
}
@media (max-width: 400px) {
  #profile-wrapper {
    margin-left: 0;
  }
}/*# sourceMappingURL=profile-club.css.map */